body{
  color: black;
  text-align: center;
  font-family: "Arial";
  font-size: 19px;
  margin: 0;
  padding: 0;
}

#contenido{
  width: 40%;
  padding: 1em;
  text-align: left;
  border: 1px solid black;
  margin: 0 auto;
}

#contenido h1{
  font-size: 20px;
}

#cabecera{
  color: white;
  background-color: red;
  font-size: 25px;
  padding: 0.5em;
  font-family: Arial;
}
